.parentOfText {
  display: flex;
}

.childText {
  display: none;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.parentOfText:hover .childText {
  display: block;
}

.parentOfText:hover .logo {
  display: none;
}
